// Colors
$color_primary: hsl(163, 72%, 41%);
$color_secondary: hsl(356, 69%, 56%);
$color_facebook: hsl(208, 92%, 53%);
$color_twitter: hsl(203, 89%, 53%);
$color_instagram: linear-gradient(
    90deg,
    hsl(37, 97%, 70%) 0%,
    hsl(329, 70%, 58%) 100%
);
$color_youtube: hsl(348, 97%, 39%);

// Light Theme
$lt_bgColor_toggle: hsl(230, 22%, 74%);
$lt_bgColor_body: hsl(0, 0%, 100%);
$lt_color_pattern: hsl(225, 100%, 98%);
$lt_bgColor_card: hsl(227, 47%, 96%);
$lt_textColor_primary: hsl(230, 17%, 14%);
$lt_textColor_secondary: hsl(228, 12%, 44%);

// Dark Theme
$dt_bgColor_toggle: linear-gradient(
    90deg,
    hsl(210, 78%, 56%) 0%,
    hsl(146, 68%, 55%) 100%
);
$dt_bgColor_body: hsl(230, 17%, 14%);
$dt_color_pattern: hsl(232, 19%, 15%);
$dt_bgColor_card: hsl(228, 28%, 20%);
$dt_textColor_primary: hsl(0, 0%, 100%);
$dt_textColor_secondary: hsl(228, 34%, 66%);

// Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
$font: "Inter", sans-serif;
$font_normal: 400;
$font_bold: 700;

$separacion: 5rem;
